In [1]:
import pandas as pd
import dateutil

In [2]:
#load data from CSV file
data = pd.read_csv("phone_data.csv")

In [3]:
data.head()

   index            date  duration  item    month   network network_type
0      0  15/10/14 06:58    34.429  data  2014-11      data         data
1      1  15/10/14 06:58    13.000  call  2014-11  Vodafone       mobile
2      2  15/10/14 14:46    23.000  call  2014-11    Meteor       mobile
3      3  15/10/14 14:48     4.000  call  2014-11     Tesco       mobile
4      4  15/10/14 17:27     4.000  call  2014-11     Tesco       mobile

In [4]:
data.dtypes #if it doesn't say float or int then it's a string ie object.

index             int64
date             object
duration        float64
item             object
month            object
network          object
network_type     object
dtype: object

In [5]:
#Covert date from string to date times. day first and not month for the True
#.apply allows you to pass a function on an entire set of values
data["date"] = data["date"].apply(dateutil.parser.parse, dayfirst = True)

In [6]:
data.head(10)

   index                date  duration  item    month    network network_type
0      0 2014-10-15 06:58:00    34.429  data  2014-11       data         data
1      1 2014-10-15 06:58:00    13.000  call  2014-11   Vodafone       mobile
2      2 2014-10-15 14:46:00    23.000  call  2014-11     Meteor       mobile
3      3 2014-10-15 14:48:00     4.000  call  2014-11      Tesco       mobile
4      4 2014-10-15 17:27:00     4.000  call  2014-11      Tesco       mobile
5      5 2014-10-15 18:55:00     4.000  call  2014-11      Tesco       mobile
6      6 2014-10-16 06:58:00    34.429  data  2014-11       data         data
7      7 2014-10-16 15:01:00   602.000  call  2014-11      Three       mobile
8      8 2014-10-16 15:12:00  1050.000  call  2014-11      Three       mobile
9      9 2014-10-16 15:30:00    19.000  call  2014-11  voicemail    voicemail

In [8]:
data.dtypes #changes the type

index                    int64
date            datetime64[ns]
duration               float64
item                    object
month                   object
network                 object
network_type            object
dtype: object

In [9]:
#How many rows in the dataset
data.shape

(830, 7)

In [10]:
#how many types of items are there
data["item"].value_counts()

call    388
sms     292
data    150
Name: item, dtype: int64

In [15]:
#what was the longest phone call/data entry?
data[data["item"] == "call"][["duration"]].max()

duration    10528.0
dtype: float64

In [17]:
#how many seconds of phone calls are recorded in total?
data[data["item"] == "call"][["duration"]].sum()

duration    92321.0
dtype: float64

In [18]:
#How many entries are there for each month?
data["month"].value_counts()

2014-11    230
2015-01    205
2014-12    157
2015-02    137
2015-03    101
Name: month, dtype: int64

In [19]:
#entries for each month using groupby?
data.groupby("month").count()["item"]

month
2014-11    230
2014-12    157
2015-01    205
2015-02    137
2015-03    101
Name: item, dtype: int64

In [23]:
#Number of non-null unique network entries? this function excludes null values. if you just put unique() it'll list them
data["network"].nunique()

9

In [24]:
#Get the first entry for each month
data.groupby("month").first()["item"]

month
2014-11    data
2014-12    data
2015-01    data
2015-02    data
2015-03    call
Name: item, dtype: object

In [28]:
#another way to do this...shows entire entry above only shows the item
data.groupby("month").first()

         index                date  duration  item   network network_type
month
2014-11      0 2014-10-15 06:58:00    34.429  data      data         data
2014-12    228 2014-11-13 06:58:00    34.429  data      data         data
2015-01    381 2014-12-13 06:58:00    34.429  data      data         data
2015-02    577 2015-01-13 06:58:00    34.429  data      data         data
2015-03    729 2015-02-12 20:15:00    69.000  call  landline     landline

In [29]:
#same thing
data.groupby("month").head(1)

     index                date  duration  item    month   network network_type
0        0 2014-10-15 06:58:00    34.429  data  2014-11      data         data
228    228 2014-11-13 06:58:00    34.429  data  2014-12      data         data
381    381 2014-12-13 06:58:00    34.429  data  2015-01      data         data
577    577 2015-01-13 06:58:00    34.429  data  2015-02      data         data
729    729 2015-02-12 20:15:00    69.000  call  2015-03  landline     landline

In [31]:
#get the sum of durations per month
data.groupby("month")["duration"].sum()

month
2014-11    26639.441
2014-12    14641.870
2015-01    18223.299
2015-02    15522.299
2015-03    22750.441
Name: duration, dtype: float64

In [34]:
data.groupby("month").sum()["duration"] #gets same result but do the prior way ie get month then dur then sum.

month
2014-11    26639.441
2014-12    14641.870
2015-01    18223.299
2015-02    15522.299
2015-03    22750.441
Name: duration, dtype: float64

In [38]:
#get the number of dates/entries in each month
data.groupby("month")["date"].count()

month
2014-11    230
2014-12    157
2015-01    205
2015-02    137
2015-03    101
Name: date, dtype: int64

In [35]:
#sum only calls for each month
data[data["item"] == "call"].groupby("month")["duration"].sum()

month
2014-11    25547.0
2014-12    13561.0
2015-01    17070.0
2015-02    14416.0
2015-03    21727.0
Name: duration, dtype: float64

In [39]:
#what is the sum of durations, for calls only, to each network
data[data["item"] == "call"].groupby("network")["duration"].sum()

network
Meteor        7200.0
Tesco        13828.0
Three        36464.0
Vodafone     14621.0
landline     18433.0
voicemail     1775.0
Name: duration, dtype: float64

In [40]:
#calls per network per month
data[data["item"] == "call"].groupby(["network", "month"])["duration"].sum()

network    month
Meteor     2014-11     1521.0
           2014-12     2010.0
           2015-01     2207.0
           2015-02     1188.0
           2015-03      274.0
Tesco      2014-11     4045.0
           2014-12     1819.0
           2015-01     2904.0
           2015-02     4087.0
           2015-03      973.0
Three      2014-11    12458.0
           2014-12     6316.0
           2015-01     6445.0
           2015-02     6279.0
           2015-03     4966.0
Vodafone   2014-11     4316.0
           2014-12     1302.0
           2015-01     3626.0
           2015-02     1864.0
           2015-03     3513.0
landline   2014-11     2906.0
           2014-12     1424.0
           2015-01     1603.0
           2015-02      730.0
           2015-03    11770.0
voicemail  2014-11      301.0
           2014-12      690.0
           2015-01      285.0
           2015-02      268.0
           2015-03      231.0
Name: duration, dtype: float64