In [3]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
#read in the file 'Homicide.csv' and store it in a variable called homicide

In [4]:
data = pd.read_csv("Homicide.csv")

In [3]:
#how many rows are in the dataset

In [9]:
data.shape

(1015, 13)

In [4]:
#list the names of all the columns in the dataset

In [10]:
data.columns

Index(['X', 'Y', 'Index_', 'Event_Unique_ID', 'Occurrence_year', 'Division',
       'Homicide_Type', 'Occurrence_Date', 'Hood_ID', 'Neighbourhood', 'Lat',
       'Long', 'ObjectId'],
      dtype='object')

In [5]:
#replace the default index with the values of the 'Index_' column

In [22]:
data

,X,Y,Event_Unique_ID,Occurrence_year,Division,Homicide_Type,Occurrence_Date,Hood_ID,Neighbourhood,Lat,Long,ObjectId
Index_,,,,,,,,,,,,
1,-79.392853,43.685028,111878,2004,D53,Other,2004-01-03T05:00:00.000Z,98,Rosedale-Moore Park (98),43.685028,-79.392853,1
2,-79.234962,43.781536,125755,2004,D42,Shooting,2004-01-08T05:00:00.000Z,137,Woburn (137),43.781536,-79.234962,2
3,-79.206894,43.810860,136086,2004,D42,Shooting,2004-01-08T05:00:00.000Z,132,Malvern (132),43.810860,-79.206894,3
4,-79.434403,43.670475,148623,2004,D13,Shooting,2004-01-25T05:00:00.000Z,93,Dovercourt-Wallace Emerson-Junction (93),43.670475,-79.434403,4
5,-79.203865,43.823543,148619,2004,D42,Shooting,2004-01-25T05:00:00.000Z,131,Rouge (131),43.823543,-79.203865,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1235,-79.374847,43.660656,GO-20182242344,2018,D51,Stabbing,2018-12-06T05:00:00.000Z,73,Moss Park (73),43.660656,-79.374847,1011
1236,-79.548676,43.701328,GO-20182280579,2018,D23,Shooting,2018-12-12T05:00:00.000Z,6,Kingsview Village-The Westway (6),43.701328,-79.548676,1012
1237,-79.517776,43.759018,GO-20182315055,2018,D31,Shooting,2018-12-18T05:00:00.000Z,24,Black Creek (24),43.759018,-79.517776,1013
1238,-79.397644,43.644955,GO-20182320758,2018,D14,Shooting,2018-12-19T05:00:00.000Z,77,Waterfront Communities-The Island (77),43.644955,-79.397644,1014
1240,-79.585831,43.750977,GO-20182339244,2018,D23,Shooting,2018-12-21T05:00:00.000Z,2,Mount Olive-Silverstone-Jamestown (2),43.750977,-79.585831,1015

In [6]:
#list the types of homicides in the order of their frequency

In [17]:
data["Homicide_Type"].value_counts()

Shooting    526
Other       263
Stabbing    226
Name: Homicide_Type, dtype: int64

In [7]:
#plot the homicide types and their frequencies on a bar chart

In [28]:
#find the year with the highest number of shootings

In [36]:
data[data["Homicide_Type"] == "Shooting"][["Occurrence_year"]].max()

Occurrence_year    2018
dtype: int64

In [ ]:
#for 2018, list the months with the highest and lowest homicides

In [50]:
data["month"] = pd.DatetimeIndex(data["Occurrence_Date"]).month

In [93]:
df = data[data["Occurrence_year"] == 2018].groupby("month")["Homicide_Type"].count().reset_index(name="count")

In [91]:
df[df["count"] == data[data["Occurrence_year"] == 2018].groupby("month")["Homicide_Type"].count().max()]

   month  count
3      4     13
5      6     13

In [95]:
df[df["count"] == data[data["Occurrence_year"] == 2018].groupby("month")["Homicide_Type"].count().min()]

    month  count
1       2      3
10     11      3

In [ ]:
#list five safest neighborhoods

In [109]:
data.groupby("Neighbourhood")["Homicide_Type"].count().sort_values().head(5)

Neighbourhood
Kingsway South (15)                  1
Yonge-Eglinton (100)                 1
Newtonbrook West (36)                1
Bayview Woods-Steeles (49)           1
Runnymede-Bloor West Village (89)    2
Name: Homicide_Type, dtype: int64

In [ ]:
#which neighborhood had the highest number of stabbings

In [114]:
data[data["Homicide_Type"] == "Stabbing"].groupby("Neighbourhood")["Homicide_Type"].count().sort_values(ascending = False).head(1)

Neighbourhood
Downsview-Roding-CFB (26)    8
Name: Homicide_Type, dtype: int64

In [10]:
#(optional)list the homicides by year
#hint - one way to do this is to create new column called year, get the yar from the occurence date,
#then group by your new year column